* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
font-family:Arial;
/*src:url(Arial.ttf);*/
font-size:12px;
margin:2px 0px;
}
.infos {
font-size:80%;
}
.inform {
background-color:#FF9655;
border-radius:8px;
text-align:center;
}
.bgcentro {
background-color:#E7E4D3;
border-radius:15px 15px 0px 0px;
height:58px;
width:1100px;
text-align:center;
color:#043F63;
font-family:Prototype;
/*src:url(Prototype.ttf);*/
font-size:300%;
margin:auto auto;
}
.bgcentro_iz {
float:left;
background-image:url(../img/banner_iz_.png);
background-repeat:no-repeat;
width:205px; height:50px;
margin-top:2px;
margin-left:10px;
}
.bgcentro_de {
float:right;
clear:right;
background-image:url(../img/banner_de_.gif);
background-repeat:no-repeat;
width:103px;
height:55px;
margin-right:10px;	
}
#datos {
position:absolute;
margin:0px auto;
text-align:center;
width:100%;
}
.div_ayuda {
position:absolute;
margin:0px auto;
text-align:center;
width:98%;
font-size:80%;
text-align:justify;
background-color:#FFF;
clear:both;
}
.date_p {
clear:left;
position:absolute;
width:240px;
z-index:2;
background-color: transparent;
}
.div_menu {
float:left;
clear:both;
font-size:130%;	
background-color:#FFF;
}
.central {
width:450px;
margin:0px auto;
margin-top:-60px;
}
.contend {
clear:both;
margin:3px auto;
/*border:solid 1px #0074B9;*/
width:1100px;
/*border-radius:8px;*/
}
.popup {
clear:both;
margin:5px auto;
border:solid 1px #0074B9;
border-radius:8px;
}
.bib_b {
width:8%;
font-size:90%
}
legend {
border-radius:8px; 
background-color:#FFF; 
padding:2px 8px;
}
hr {
margin:2px; 
color:#FF8040; 
border-style:solid;
}
.info {
width:50%;
margin:5px;
}
.x_fieldset {
width:130px; 
float:right; 
font-size:13px; 
font-weight:bold; 
text-align:right;
clear:right;
}
.y_fieldset {
width:130px; 
float:left; 
font-size:13px; 
font-weight:bold; 
text-align:left;
clear:left;
}
.list_prgm {
float:left;
width:76%;
text-align:justify;
padding-top:5px;
}
.list_extn {
float:left;
width:90%;
text-align:justify;
padding-top:5px;
}
.list_float {
float:right;
text-align:right;
}
.list_cln {
float:right;
text-align:right;
background-color:#E4D354;
border-radius:5px;
padding:2px;
}
.list_cln:hover {
background-color:#CCCCCC;	
}
.list_cln:active {
background-color:#009966;	
}
.list_js {
width:48%;
background-color:#E2E2E2;
border-radius:5px;
border:#E2E2E2 solid 1px;
font-size:100%;
margin-top:4px;
margin-left:5px;
padding:2px;
text-align:left;
float:left;
clear:right;
}
.list_js:hover {
background-color:#CCCC99;	
}
.list_js:active {
background-color:#99CC00;	
}
.list_vis {
width:48%;
background-color:#EBEEE5;
border-radius:5px;
border:#0C6 solid 1px;
font-size:100%;
margin-top:4px;
margin-left:5px;
padding:2px;
text-align:left;
float:left;
clear:right;
}
.list_jr {
width:99%;
background-color:#E2E2E2;
border-radius:5px;
font-size:110%;
margin-top:2px;
margin-right:2px;
padding:2px;
float:left;
clear:right;
}
.list_princ {
border-radius:5px;
margin-top:10px;
border:#000 1px solid;
padding:5px; text-align:justify;
background-color:#DDDDEE;
}
.list_legen {
background-color:#EBEEE5;
border-radius:5px;
font-size:100%;
/*overflow:hidden;*/
height:25px;
margin:auto 0px;
border:#FFF solid 1px;
}
.frm {
position:absolute;
width:300px;
z-index:1000;
border-radius:10px;
background-color:#C96;
padding:10px;
margin:auto;
}
.bk_info {
border:#CAE2F0 solid 3px;
}
.link_header{
color: #ffffff;
}
a:hover.link_header{
color: #ededed;
}
a {
color: #003d4c;
text-decoration: none;
/*font-weight: bold;*/
}
a:hover {
color: #367889;
text-decoration:none;
}
input[type=text] {
font-size:100%;	
}
input[type=hidden] {
display:none;	
}
.flotante_1 {
position:absolute;
width:380px;
z-index:300;
background-color:#EBEEE5;
border-radius:10px;
padding:3px;
}
.menu_izq_2 {
margin:0px auto;
color:#000;
background-color: #F93;
box-shadow: 2px 2px 5px #999;
border-radius:10px;
padding:2px 10px;
}

/*Código para reemplazar el atributo title*/
.cssToolTip {
position:relative; /* Esta clase tiene que tener posicion relativa */
color:#033D65; /* Color del texto */
/*z-index:0;*/
}
.cssToolTip span {
/*background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat; */
border:1px solid #87cefa;
border-radius:5px;
box-shadow:5px 5px 5px #333;
background-color:#EDE18F;
color:#000;
font-size:100%;
display:none; /* El tooltip por defecto estara oculto */
padding:2px 5px;
width:300px;
text-align:justify;
position:absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
top:10px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
left:15px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
z-index:4001; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
}
.cssToolTip .span {
/*background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat; */
border:1px solid #87cefa;
border-radius:5px;
box-shadow:5px 5px 5px #333;
background-color:#EDE18F;
color:#000;
font-size:95%;
display:none; /* El tooltip por defecto estara oculto */
padding:2px 5px;
width:140px;
text-align:justify;
position:absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
top:15px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
left:-35px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
z-index:4002; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
}
.cssToolTip div {
/*background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat; */
border:1px solid #87cefa;
border-radius:5px;
box-shadow:5px 5px 5px #333;
background-color:#EDE18F;
color:#000;
font-size:100%;
display:none; /* El tooltip por defecto estara oculto */
padding:2px 5px;
width:650px;
text-align:justify;
position:absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
top:15px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
left:-20px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
z-index:4001; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
}
.cssToolTip:hover span {
display:inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
}
.cssToolTip:hover div {
display:inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
}
/*Fin del código*/

a img {
border:none;
}
h1, h2, h3, h4 {
font-weight: normal;
margin-bottom:0.5em;
}
h1 {
background-color:#fff;
color: #003d4c;
font-size: 100%;
}
h2 {
background-color:#fff;
color: #e32;
font-size: 190%;
}
h3 {
color: #2c6877;
font-size: 165%;
}
h4 {
color: #993;
font-weight: normal;
}
ul, li {
margin: 0 12px;
}
p {
margin: 0 0 1em 0;
}

/** Layout **/
#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
}
#header h1 {
	line-height:20px;
	/*background-color: #003d4c url('../img/cake.icon.png') no-repeat left;*/
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background-color: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background-color: #003d4c;
	text-decoration: underline;
}
#content{
	background-color: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:5px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:5px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 3px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:3px;
}
th a {
	display: block;
	padding: 2px 3px;
	text-decoration: none;
}
th a.asc:after {
	content: ' â‡£';
}
th a.desc:after {
	content: ' â‡¡';
}
table tr td {
	padding: 2px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background-color: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 2px;
	padding:1px 2px;
}

/* SQL log */
.cake-sql-log {
	background-color: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
.paging {
	background-color:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background-color: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	/*-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;*/
	border-radius: 4px 0 0 4px;
}
.paging .next {
	/*-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;*/
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background-color: transparent;
}
.paging .current {
	background-color: #efefef;
	color: #c73e14;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background-color: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	/*clear: both;
	margin-right: 20px;*/
	padding: 0;
	width: 99%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
/*fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}*/
fieldset fieldset {
	margin-top: 0;
	padding: 5px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 3px;
}
form div {
	/*clear: both;*/
	margin-bottom: 1px;
	padding: 1px;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 2px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	/*clear: both;*/
	font-size: 130%;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
	width:94%;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding-left:3px;
	background-color:#E4D354;
	border-top:#FFF solid 1px;
}
input[type=checkbox] {
	/*clear: left;
	float: left;*/
	margin: 0px 6px 1px 2px;
	width: auto;
	/*height: 160%;*/
	border:#000 2px solid;
	max-height:25px;
	/*max-width:25px;*/
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	/*float:left;*/
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
	height: 160%;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 100%;
	width: auto;
}
input[type=submit]:hover {
color: #367889;
}
input[type=button] {
	display: inline;
	font-size: 85%;
	width: auto;
}
form .submit input[type=submit] {
	background-color:#62af56;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);*/
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 5px 4px;
}
form .submit input[type=submit]:hover {
	background-color: #5BA150;
}
/* Form errors */
form .error {
	background-color: #FFDACC;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	/*-moz-border-radius: none;
	-webkit-border-radius: none;*/
	border-radius: 0px;
	border: none;
	background-color: transparent;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	/*-moz-box-shadow: none;
	-ms-box-shadow: none;*/
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

/*.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	/*-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
} 
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	/*background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}*/
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background-color: #dcdcdc;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);*/
	color:#333;
	border:1px solid #bbb;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	/*-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);*/
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	/*-webkit-user-select: none;
	user-select: none;*/
}
.actions ul li a:hover,
.actions a:hover {
	background-color: #ededed;
	border-color: #acacac;
	text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
	background-color: #eee;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);*/
	text-shadow: #eee 0px 1px 0px;
	/*-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);*/
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}

/** Related **/
.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background-color: #f0f0f0;
	padding: 15px;
	/*-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	border-radius: 4px;
	padding: 5px 6px;
	color: #000;
	display: block;
	float: left;
	/*-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);*/
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
	font-size: 16px;
	line-height: 20px;
	clear: both;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	border-radius: 4px;
}
.cake-stack-trace a {
	text-shadow: none;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
	border-radius: 10px;
	margin: 0px 4px 10px 2px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	text-decoration: none;
	/*-moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);*/
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px 0 10px 0;
	padding: 1em;
	overflow: auto;
	text-shadow: none;
}
.cake-stack-trace li {
	padding: 10px 5px 0px;
	margin: 0 0 4px 0;
	font-family: monospace;
	border: 1px solid #bbb;
	/*-moz-border-radius: 4px;
	-wekbkit-border-radius: 4px;*/
	border-radius: 4px;
	background-color: #dcdcdc;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);*/
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background-color:#ecc;
}
.code-coverage-results div.covered span.content {
	background-color:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
	display:none;
}
