@charset "utf-8";
/* CSS Document */
#left_men {
float: left;
margin: 0px;
padding: 0px;
width: auto;
height:auto;
}
#left_men ul {
display:block;
list-style-type:none;
padding: 0px;
margin-left: -12px;
width:100px;
font-size:100%;
}
#left_men ul a {
display:block;
margin: 0px;
padding-left: 5px;
border:1px solid #7798BF;
border-radius:8px;
background-color:#AABDD7;
text-decoration:none;
z-index:3000;
}
#left_men ul ul {
position:absolute;
display:none;
top: 0px;
left:100%;
width:130px;
font-size:100%;
}
#left_men ul li ul li a {
background-color:#C4D1E3;
}
#left_men li {
position:relative;
}
#left_men ul li:hover ul {
display:block;
}